# Rust / Cargo
/backend/target
**/*.rs.bk

# Frontend / Node
/frontend/node_modules
/frontend/dist
/frontend/dist-ssr
/frontend/.eslintcache
/frontend/.vite

# Environment
.env
.env.local
.env.*.local

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo
*~
.DS_Store

# DB
*.db
*.db-journal
*.sqlite

config.yaml

# Data directories
/data/
data/
